.container
	width:100%
	min-height:20px
	position:relative

.wrapper
	overflow-y:scroll;

.content
	width:100%
	height:100%
	border-box()

.btn
	display:block
	line-height:0.5
	margin:0
	text-align:center
	cursor:pointer
	background:green
	border-size:1px
	border-box()
	background:buttonBackColor
	color:buttonFrontColor;
	text-decoration:none;
	&:hover, &.active
		background:buttonHoverBackColor;
		color:buttonHoverFrontColor;

.valign-container
	position:absolute;
	width:100%;
	top:50%;
	height:50%;

.valign-content
	position:absolute;
	margin:0 auto;
	width:100%;

.modal
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:modalBackgroundOverlay;
.modal-content
	position:relative;
	height:100%;
	margin:0 auto;
	background:modalBackground;
	border-radius modalBorderRadius;
.modal-close
	position:absolute;
	top:- (closeButtonSize /2);
	right:- (closeButtonSize/2);

.togglable,.modal
	display:none;
	&.active
		display:block;

.top,.bottom,.left,.right
	position:absolute

.top
	top:0

.bottom
	bottom:0

.maxHeight
	top:0
	bottom:0
	position:absolute;

.image
	display:inline-block;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-box-shadow: rgba(0,0,0,0.20) 0 10px 10px;
	-moz-box-shadow: rgba(0,0,0,0.20) 0 10px 10px;
	box-shadow: rgba(0,0,0,0.20) 0 10px 10px;