headerHeight = 50px;
footerHeight = 50px;
maxHeight = 300px;
maxWidth = 960px;
margins = 10px;
pageTitleHeight = 50px;
modalBackgroundOverlay = rgba(0,0,0,0.5);
modalBackground = rgba(255,255,255,1);
modalBorderRadius = 5px;
bigButtonSize = 30px;
smallButtonSize = 16px;
closeButtonSize = bigButtonSize;