border-box()
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-o-border-radius arguments
	border-radius arguments
	
border-radius-left()
	-webkit-border-top-left-radius: arguments;
	-webkit-border-bottom-left-radius: arguments;
	-moz-border-radius-topleft: arguments;
	-moz-border-radius-bottomleft: arguments;
	-o-border-radius-topleft: arguments;
	-o-border-radius-bottomleft: arguments;
	border-top-left-radius: arguments;
	border-bottom-left-radius: arguments;
	
border-radius-right()
	-webkit-border-top-right-radius: arguments;
	-webkit-border-bottom-right-radius: arguments;
	-moz-border-radius-topright: arguments;
	-moz-border-radius-bottomright: arguments;
	-o-border-radius-topright: arguments;
	-o-border-radius-bottomright: arguments;
	border-top-right-radius: arguments;
	border-bottom-right-radius: arguments;

titleText()
	font-family: titleFont;
	font-weight: bold

bodyText()
	font-family: bodyFont;