.page
	width:100%
	position:absolute
	top:0
	left:0
	background:pageBackgroundColor
.page-title
	width:100%;
	position:absolute
	top:0
	left:0
	border-box()
	titleText();
	font-size:200%
	color:pageTitleColor
